[Unit]
Description=GDC Node
After=network.target

[Service]
User=root
WorkingDirectory=/data
ExecStart=/data/gdc --datadir /data/node1 --networkid 1800 --gcmode "archive" --syncmode "full" --port 3000 --authrpc.port 8562 --http --http.addr 0.0.0.0 --http.port 8545 --http.api debug,net,eth,shh,web3,txpool,admin,personal --http.corsdomain "*" --http.rpcprefix "/rpc" --http.vhosts "*" --ws.api "eth,net,web3,network,debug,txpool,admin,personal" --ws --ws.addr 0.0.0.0 --ws.port 8546 --ws.origins "*" --allow-insecure-unlock --miner.etherbase 0x6e1463B6193c79D4392C2649ff26D53B9e6542ED --bootnodes enode://962efa84492d2f7f91bf5d1fd6e1767a9e539f2591ef43064ed60e0140866e302782f857e4f8dec5dfb3b8dc5bfffb96a81f6347fc5a25292585a7f3073d37f9@34.150.78.0:3000 --mine --miner.threads 1
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target

